<div *ngIf="!loading" class="auth-form-container">
  <form class="auth-form" [formGroup]="resetPasswordRequestForm">
    <h2>{{ "RESET_PASSWORD.REQUEST.TITLE" | translate }}</h2>
    <div class="form-group">
      <div class="label-link">
        <label for="email">
          {{ "DASHBOARD.SECTIONS.TABLE_HEADERS.EMAIL" | translate }}
        </label>
        <a (click)="onSendToken()" *ngIf="tokenSent">
          {{ "RESET_PASSWORD.REQUEST.RESEND" | translate }}
        </a>
      </div>
      <input type="email" id="email" formControlName="email" />
      <div
        class="error-message"
        *ngIf="
          resetPasswordRequestForm.get('email')?.invalid &&
          resetPasswordRequestForm.get('email')?.touched
        "
      >
        <small
          *ngIf="resetPasswordRequestForm.get('email')?.errors?.['required']"
        >
          {{
            "AUTH.ERROR_MESSAGES.NAME_REQUIRED"
              | translate
                : {
                    type: ("DASHBOARD.SECTIONS.TABLE_HEADERS.EMAIL" | translate)
                  }
          }}
        </small>
        <small *ngIf="resetPasswordRequestForm.get('email')?.errors?.['email']">
          {{
            "AUTH.ERROR_MESSAGES.EMAIL_PATTERN"
              | translate
                : {
                    type: ("DASHBOARD.SECTIONS.TABLE_HEADERS.EMAIL" | translate)
                  }
          }}
        </small>
      </div>
    </div>
    <button
      (click)="onSendToken()"
      class="btn-submit"
      *ngIf="!tokenSent"
      [disabled]="resetPasswordRequestForm.get('email')?.invalid"
    >
      {{ "RESET_PASSWORD.REQUEST.SEND" | translate }}
    </button>

    <div class="form-group" *ngIf="tokenSent">
      <label for="token">
        {{ "RESET_PASSWORD.REQUEST.OTP" | translate }}
      </label>
      <input type="text" id="token" formControlName="token" />
      <div
        class="error-message"
        *ngIf="
          resetPasswordRequestForm.get('token')?.invalid &&
          resetPasswordRequestForm.get('token')?.touched
        "
      >
        <small
          *ngIf="resetPasswordRequestForm.get('token')?.errors?.['required']"
        >
          {{
            "AUTH.ERROR_MESSAGES.NAME_REQUIRED"
              | translate
                : {
                    type: ("RESET_PASSWORD.REQUEST.OTP" | translate)
                  }
          }}
        </small>
      </div>
    </div>

    <button
      class="btn-submit"
      (click)="onSubmit()"
      [disabled]="resetPasswordRequestForm.invalid"
      *ngIf="tokenSent"
    >
      {{ "RESET_PASSWORD.REQUEST.VERIFY" | translate }}
    </button>
  </form>
</div>
<div *ngIf="loading" class="spinner-overlay">
  <div class="spinner"></div>
</div>
