<div class="auth-form-container">
  <form
    class="auth-form"
    [formGroup]="resetPasswordRequestForm"
    (ngSubmit)="onSubmit()"
  >
    <h2>Verify Reset Password Token</h2>
    <!-- Email Field -->
    <div class="form-group">
      <div class="label-link">
        <label for="email">Enter your email</label>
        <a (click)="onSendToken()" class="link" *ngIf="tokenSent"
          >Resend Token</a
        >
      </div>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter your email address"
      />
      <div
        class="error-message"
        *ngIf="
          resetPasswordRequestForm.get('email')?.invalid &&
          resetPasswordRequestForm.get('email')?.touched
        "
      >
        <small
          *ngIf="resetPasswordRequestForm.get('email')?.errors?.['required']"
        >
          Email is required.
        </small>
        <small
          *ngIf="resetPasswordRequestForm.get('email')?.errors?.['email']"
        >
          Please enter a valid email. Example: example&#64;domain.com
        </small>
      </div>
    </div>
    <a (click)="onSendToken()" class="btn-submit" *ngIf="!tokenSent">
      Send Token
    </a>
    <!-- token field -->
    <div class="form-group" *ngIf="tokenSent">
      <label for="token">Enter the token</label>
      <input
        type="text"
        id="token"
        formControlName="token"
        placeholder="Enter the token sent to your email"
      />
      <div
        class="error-message"
        *ngIf="
          resetPasswordRequestForm.get('token')?.invalid &&
          resetPasswordRequestForm.get('token')?.touched
        "
      >
        <small
          *ngIf="resetPasswordRequestForm.get('token')?.errors?.['required']"
        >
          Token is required.
        </small>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="btn-submit"
      [disabled]="resetPasswordRequestForm.invalid"
      *ngIf="tokenSent"
    >
      Verify Token
    </button>
  </form>
</div>
