<div class="dashboard-pages-container">
  <div *ngIf="loading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>

  <table class="dashboard-pages-table" *ngIf="posts.length > 0">
    <thead>
      <tr>
        <th>{{ "DASHBOARD.SECTIONS.TABLE_HEADERS.CONTENT" | translate }}</th>
        <th>{{ "DASHBOARD.SECTIONS.TABLE_HEADERS.WRITER" | translate }}</th>
        <th>{{ "DASHBOARD.SECTIONS.TABLE_HEADERS.DATE" | translate }}</th>
        <th>{{ "DASHBOARD.SECTIONS.TABLE_HEADERS.ACTIONS" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts; let i = index">
        <td>
          <a [routerLink]="['/post', post.id]">
            <div>
              <span *ngIf="post.content.length > 10"
                >{{ post.content | slice : 0 : 10 }}...</span
              >
              <span *ngIf="post.content.length <= 10">{{ post.content }}</span>
            </div>
          </a>
        </td>
        <td>
          <a [routerLink]="['/user-profile', post.authorName]">
            <div>
              <span dir="ltr">&#64;{{ post.authorName }}</span>
            </div>
          </a>
        </td>
        <td>{{ post.createdDate | date : "short" }}</td>
        <td>
          <button
            class="delete-button"
            (click)="onDeleteAccount(post.id)"
            title="Delete Post"
          >
            {{ "DASHBOARD.BUTTONS.DELETE" | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="posts.length === 0 && !loading" class="no-results">
    <p>
      {{
        "DASHBOARD.SECTIONS.NO_RESULTS"
          | translate : { type: ("DASHBOARD.SECTIONS.POSTS" | translate) }
      }}
    </p>
  </div>

  <div class="centered-link" *ngIf="currentPage < totalPages && !loading">
    <a (click)="loadMorePosts()">
      {{
        "DASHBOARD.SECTIONS.LOAD_MORE"
          | translate : { type: ("DASHBOARD.SECTIONS.POSTS" | translate) }
      }}
      &gt;</a
    >
  </div>
</div>
