<header *ngIf="this.isLoggedIn()">
  <div class="logo">
    <!-- <h1><a routerLink="/">Smart Devices Store</a></h1> -->
    <a routerLink="/"><img src="/assets/image/logo.jpg" alt="logo" /></a>
  </div>
  <nav>
    <span class="icon" id="menu-icon" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <ul id="nav-menu" [class.show]="isMenuOpen">
      <li (click)="isMenuOpen = false"><a routerLink="/home">Home</a></li>
      <li (click)="isMenuOpen = false"><a routerLink="/search">Search</a></li>
      <li (click)="isMenuOpen = false">
        <a routerLink="/profile"
          ><i class="fa fa-user-tie"></i> {{ firstName || "Profile" }}</a
        >
      </li>
      <li (click)="isMenuOpen = false; logout()">
        <a><i class="fa fa-sign-out"></i> Logout</a>
      </li>
    </ul>
  </nav>
</header>
