<header *ngIf="this.isLoggedIn()">
  <div class="logo">
    <a routerLink="/">
      <img src="/assets/image/Aqqrablogo.jpg" alt="logo" />
    </a>
  </div>

  <nav>
    <span class="icon" id="menu-icon" (click)="toggleMenu()" #mobileMenuButton>
      <span></span>
      <span></span>
      <span></span>
    </span>
    <ul id="nav-menu" [class.show]="isMenuOpen" #mobileNav>
      <li (click)="isMenuOpen = false">
        <a routerLink="/">{{ "HOME" | translate }}</a>
      </li>
      <li (click)="isMenuOpen = false">
        <a routerLink="/search">
          <i class="fa fa-search"></i> {{ "SEARCH" | translate }}</a
        >
      </li>
      <li class="profile-dropdown" *ngIf="!isMenuOpen">
        <a>
          <div class="dropdown" #dropdown>
            <a class="dropbtn" (click)="toggleDropdown()">
              <div class="user-info">
                <i class="fa fa-user-circle"></i>
                <span> {{ firstName || ("PROFILE" | translate) }}</span>
              </div>
            </a>
            <div class="dropdown-content" [class.show]="isDropdownOpen">
              <a routerLink="/profile" (click)="closeDropdown()">
                <i class="fa fa-user"></i> {{ "PROFILE" | translate }}
              </a>
              <a
                *ngIf="this.isAdmin"
                routerLink="/dashboard"
                (click)="closeDropdown()"
              >
                <i class="fa fa-user-shield"></i> {{ "ADMIN" | translate }}
              </a>
              <a (click)="profileSettings(); closeDropdown()">
                <i class="fas fa-cogs"></i>
                {{ "USER_PROFILE.SETTINGS" | translate }}
              </a>
              <a (click)="logout(); closeDropdown()">
                <i
                  class="fa fa-sign-out"
                  [class.rotate]="currentLang === 'ar'"
                ></i>
                {{ "LOGOUT" | translate }}
              </a>
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="isMenuOpen">
        <a routerLink="/profile" (click)="isMenuOpen = false">
          <i class="fa fa-user"></i> {{ "PROFILE" | translate }}
        </a>
      </li>
      <li *ngIf="isMenuOpen && isAdmin">
        <a routerLink="/dashboard" (click)="isMenuOpen = false">
          <i class="fa fa-user-shield"></i> {{ "ADMIN" | translate }}
        </a>
      </li>
      <li *ngIf="isMenuOpen">
        <a (click)="profileSettings(); isMenuOpen = false">
          <i class="fas fa-cogs"></i> {{ "USER_PROFILE.SETTINGS" | translate }}
        </a>
      </li>
      <li *ngIf="isMenuOpen">
        <a (click)="logout(); isMenuOpen = false">
          <i class="fa fa-sign-out" [class.rotate]="currentLang === 'ar'"></i>
          {{ "LOGOUT" | translate }}
        </a>
      </li>
    </ul>
  </nav>
</header>
