<div class="main-container">
  <div
    *ngIf="userRole === 'admin' || userRole === 'author'"
    class="new-post-form"
  >
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
      <div class="form-group">
        <textarea
          id="content"
          rows="5"
          formControlName="content"
          [placeholder]="'POST.PLACEHOLDER' | translate"
        ></textarea>
        <div
          *ngIf="
            postForm.get('content')?.invalid && postForm.get('content')?.touched
          "
          class="error-message"
        >
          <small *ngIf="postForm.get('content')?.errors?.['required']">
            {{ "POST.CONTENT_ERRORS.REQUIRED" | translate }}
          </small>
          <small *ngIf="postForm.get('content')?.errors?.['maxlength']">
            {{ "POST.CONTENT_ERRORS.MAXLENGTH" | translate }}
          </small>
          <small *ngIf="postForm.get('content')?.errors?.['minlength']">
            {{ "POST.CONTENT_ERRORS.MINLENGTH" | translate }}
          </small>
          <small *ngIf="postForm.get('content')?.errors?.['pattern']">
            {{ "POST.CONTENT_ERRORS.PATTERN" | translate }}
          </small>
        </div>
      </div>

      <div class="upload-container">
        <label class="upload-btn">
          <i class="fa fa-image"></i>
          <input
            type="file"
            (change)="onFileSelected($event, 'image')"
            accept="image/*"
          />
        </label>

        <label class="upload-btn">
          <i class="fa fa-video"></i>
          <input
            type="file"
            (change)="onFileSelected($event, 'video')"
            accept="video/*"
          />
        </label>
      </div>

      <button type="submit" [disabled]="postForm.invalid">
        <i class="fa fa-paper-plane"></i> {{ "POST.SUBMIT" | translate }}
      </button>
    </form>
  </div>

  <div *ngIf="posts.length > 0 || isLoading; else noPosts" class="posts-grid">
    <div class="post-card" *ngFor="let post of posts">
      <!-- <h2 class="post-title"></h2> -->
      <p class="post-author">
        <a [routerLink]="['/user-profile', post.authorName]">{{
          post.authorName
        }}</a>
      </p>
      <p class="post-content">
        <a [routerLink]="['/post', post.id]">
          <div>
            <span *ngIf="post.content.length > 200"
              >{{ post.content | slice : 0 : 200 }}...</span
            >
            <span *ngIf="post.content.length <= 200">{{ post.content }}</span>
          </div>
        </a>
      </p>
      <div class="media">
        <img
          *ngIf="post.imageUrl"
          [src]="post.imageUrl"
          alt="Post Image"
          class="post-image"
        />
        <video
          *ngIf="post.videoUrl"
          [src]="post.videoUrl"
          controls
          class="post-video"
        >
          {{ "POST.VIDEO_NOT_SUPPORTED" | translate }}
        </video>
      </div>
      <p class="post-date">
        {{ "POST.CREATED" | translate }}:
        {{ post.createdDate | date : "medium" }}
        <span *ngIf="post.modifiedDate">
          | {{ "POST.MODIFIED" | translate }}:
          {{ post.modifiedDate | date : "medium" }}
        </span>
      </p>
      <div class="comments">
        <small class="count"
          >{{ "POST.COMMENTS" | translate }}: {{ post.comments.length }}</small
        >
        <a (click)="toggleComments(post.id)" class="btn-toggle-comments">
          {{
            post.showComments
              ? ("POST.HIDE_COMMENTS" | translate)
              : ("POST.SHOW_COMMENTS" | translate)
          }}
        </a>
      </div>

      <div *ngIf="post.showComments" class="comments-section">
        <h3>{{ "POST.COMMENTS" | translate }}</h3>
        <div *ngIf="post.comments.length > 0; else noComments">
          <div
            *ngFor="let comment of post.comments | slice : 0 : 2"
            class="comment"
          >
            <p class="comment-user">
              <a [routerLink]="['/user-profile', comment.userName]">
                {{ comment.userName }}
              </a>
            </p>
            <p class="comment-content">{{ comment.content }}</p>
            <p class="comment-date">
              {{ comment.createdDate | date : "short" }}
            </p>
          </div>
        </div>
        <ng-template #noComments>
          <p class="no-comments">{{ "POST.NO_COMMENTS" | translate }}</p>
        </ng-template>
      </div>
    </div>
    <div class="pagination">
      <button
        *ngIf="currentPage < totalPages && !isLoading"
        (click)="loadMorePosts()"
        class="btn-load-more"
      >
        {{ "POST.LOAD_MORE_POSTS" | translate }}
      </button>
    </div>
  </div>
  <ng-template #noPosts>
    <p class="no-posts">{{ "POST.NO_POSTS" | translate }}</p>
  </ng-template>
</div>
<div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner"></div>
  <p>{{ "POST.LOADING_POSTS" | translate }}</p>
</div>
