<div class="main-container">
  <h1 class="heading">Blog Posts</h1>

  <div
    *ngIf="userRole === 'admin' || userRole === 'author'"
    class="new-post-form"
  >
    <form [formGroup]="postForm" (ngSubmit)="onCreatePost()">
      <div>
        <label for="title">Title</label>
        <input
          id="title"
          type="text"
          formControlName="title"
          placeholder="Enter post title"
        />
        <div
          *ngIf="
            postForm.get('title')?.invalid && postForm.get('title')?.touched
          "
          class="error-message"
        >
          <small *ngIf="postForm.get('title')?.errors?.['required']">
            Title is required.
          </small>
          <small *ngIf="postForm.get('title')?.errors?.['minlength']">
            Title cannot be less than 3 chars.
          </small>
          <small *ngIf="postForm.get('title')?.errors?.['pattern']">
            Title cannot be only white spaces.
          </small>
          <small *ngIf="postForm.get('title')?.errors?.['maxlength']">
            Title cannot exceed 100 characters.
          </small>
        </div>
      </div>
      <div>
        <label for="content">Content</label>
        <textarea
          id="content"
          rows="5"
          formControlName="content"
          placeholder="Enter post content"
        ></textarea>
        <div
          *ngIf="
            postForm.get('content')?.invalid && postForm.get('content')?.touched
          "
          class="error-message"
        >
          <small *ngIf="postForm.get('content')?.errors?.['required']">
            Content is required.
          </small>
          <small *ngIf="postForm.get('content')?.errors?.['maxlength']">
            Content cannot exceed 5000 characters.
          </small>
          <small *ngIf="postForm.get('content')?.errors?.['minlength']">
            Content cannot be less than 3 chars.
          </small>
          <small *ngIf="postForm.get('content')?.errors?.['pattern']">
            Content cannot be only white spaces.
          </small>
        </div>
      </div>
      <!-- Image Upload -->
      <label for="imageUpload">Upload Image:</label>
      <input
        type="file"
        id="imageUpload"
        (change)="onFileSelected($event, 'image')"
        accept="image/*"
      />

      <!-- Video Upload -->
      <label for="videoUpload">Upload Video:</label>
      <input
        type="file"
        id="videoUpload"
        (change)="onFileSelected($event, 'video')"
        accept="video/*"
      />
      <button type="submit" [disabled]="postForm.invalid">Create Post</button>
    </form>
  </div>

  <div *ngIf="posts.length > 0 || isLoading; else noPosts" class="posts-grid">
    <div class="post-card" *ngFor="let post of posts">
      <h2 class="post-title">
        <a [routerLink]="['/post']" [queryParams]="{ postId: post.id }">
          {{ post.title }}
        </a>
      </h2>
      <p class="post-author">
        <a
          [routerLink]="['/user-profile']"
          [queryParams]="{ username: post.authorName }"
          >&#64;{{ post.authorName }}</a
        >
      </p>
      <p class="post-content">{{ post.content }}</p>
      <div class="media">
        <img
          *ngIf="post.imageUrl"
          [src]="post.imageUrl"
          alt="Post Image"
          class="post-image"
        />
        <video
          *ngIf="post.videoUrl"
          [src]="post.videoUrl"
          controls
          class="post-video"
        >
          Your browser does not support the video tag.
        </video>
      </div>
      <p class="post-date">
        Created: {{ post.createdDate | date : "medium" }}
        <span *ngIf="post.modifiedDate">
          | Modified: {{ post.modifiedDate | date : "medium" }}
        </span>
      </p>
      <p class="post-date">
        <small>Comments: {{ post.comments.length }}</small>
      </p>
      <button (click)="toggleComments(post.id)" class="btn-toggle-comments">
        {{ post.showComments ? "Hide Comments" : "Show Comments" }}
      </button>

      <div *ngIf="post.showComments" class="comments-section">
        <h3>Comments</h3>
        <div *ngIf="post.comments.length > 0; else noComments">
          <div
            *ngFor="let comment of post.comments | slice : 0 : 2"
            class="comment"
          >
            <p class="comment-user">
              <a
                [routerLink]="['/user-profile']"
                [queryParams]="{ username: comment.userName }"
                >{{ comment.userName }}</a
              >
            </p>
            <p class="comment-content">{{ comment.content }}</p>
            <p class="comment-date">
              {{ comment.createdDate | date : "short" }}
            </p>
          </div>
        </div>
        <ng-template #noComments>
          <p class="no-comments">No comments yet.</p>
        </ng-template>
      </div>
    </div>
    <div class="pagination">
      <button
        *ngIf="currentPage < totalPages && !isLoading"
        (click)="loadMorePosts()"
        class="btn-load-more"
      >
        Load More Posts
      </button>
    </div>
  </div>
  <ng-template #noPosts>
    <p class="no-posts">No posts to display.</p>
  </ng-template>
</div>
<div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner"></div>
  <p>Loading posts...</p>
</div>
