<div *ngIf="isProfileLoading" class="spinner-overlay">
  <div class="spinner"></div>
  <p>{{ "USER_PROFILE.LOADING" | translate }}</p>
</div>
<div
  class="profile-container main-container"
  *ngIf="!isProfileLoading && userProfile"
>
  <h1>{{ userProfile.firstName }} {{ userProfile.lastName }}</h1>
  <h1>
    <small>
      <h6 dir="ltr">&#64;{{ userProfile.userName }}</h6>
    </small>
  </h1>
  <p>
    <strong>{{ "USER_PROFILE.EMAIL" | translate }}:</strong>
    {{ userProfile.email }}
  </p>
  <p>
    <strong>{{ "USER_PROFILE.ROLE" | translate }}:</strong>
    {{ "USER_PROFILE.ROLES." + userProfile.role.toUpperCase() | translate }}
  </p>
  <div class="profile-buttons" *ngIf="!updateMode && !changePasswordMode">
    <button (click)="toggleEditForm()" class="edit-btn">
      {{ "ACCOUNT_SETTINGS.BUTTONS.EDIT_PROFILE_BUTTON" | translate }}
    </button>
    <button (click)="onChangePassword()" class="edit-btn">
      {{ "ACCOUNT_SETTINGS.BUTTONS.CHANGE_PASSWORD_BUTTON" | translate }}
    </button>
  </div>
  <div class="profile-buttons" *ngIf="!updateMode && !changePasswordMode">
    <button (click)="onDeleteProfile()" class="delete-btn">
      {{ "ACCOUNT_SETTINGS.BUTTONS.DELETE_ACCOUNT_BUTTON" | translate }}
    </button>
  </div>
  <form
    *ngIf="updateMode"
    [formGroup]="updateProfileForm"
    (ngSubmit)="onUpdateProfile()"
    class="update-form"
  >
    <div class="form-group">
      <div class="data">
        <label for="firstName">
          {{ "ACCOUNT_SETTINGS.PROFILE.FIRST_NAME" | translate }}:
        </label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          [ngClass]="{
            'is-invalid':
              updateProfileForm.get('firstName')?.invalid &&
              updateProfileForm.get('firstName')?.touched
          }"
        />
      </div>

      <div
        class="error-message"
        *ngIf="
          updateProfileForm.get('firstName')?.invalid &&
          updateProfileForm.get('firstName')?.touched
        "
      >
        <small *ngIf="updateProfileForm.get('firstName')?.errors?.['required']">
          First Name is required.
        </small>
        <small
          *ngIf="updateProfileForm.get('firstName')?.errors?.['minlength']"
        >
          Must be at least 3 characters.
        </small>
      </div>
    </div>
    <div class="form-group">
      <div class="data">
        <label for="lastName"
          >{{ "ACCOUNT_SETTINGS.PROFILE.LAST_NAME" | translate }}:</label
        >
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          [ngClass]="{
            'is-invalid':
              updateProfileForm.get('lastName')?.invalid &&
              updateProfileForm.get('lastName')?.touched
          }"
        />
      </div>

      <div
        class="error-message"
        *ngIf="
          updateProfileForm.get('lastName')?.invalid &&
          updateProfileForm.get('lastName')?.touched
        "
      >
        <small *ngIf="updateProfileForm.get('lastName')?.errors?.['required']">
          Last Name is required.
        </small>
        <small *ngIf="updateProfileForm.get('lastName')?.errors?.['minlength']">
          Must be at least 3 characters.
        </small>
      </div>
    </div>
    <div class="profile-buttons">
      <button type="button" (click)="cancelEditForm()" class="cancel-btn">
        {{ "ACTIONS.CANCEL" | translate }}
      </button>
      <button
        type="submit"
        class="save-btn"
        [disabled]="updateProfileForm.invalid"
      >
        {{ "ACTIONS.SAVE" | translate }}
      </button>
    </div>
  </form>

  <form
    *ngIf="changePasswordMode"
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmitChangePassword()"
    class="change-password-form"
  >
    <div class="form-group">
      <label for="password">{{
        "ACCOUNT_SETTINGS.PASSWORD.OLD_PASSWORD" | translate
      }}</label>
      <div class="password-container">
        <input
          [type]="showOldPassword ? 'text' : 'password'"
          id="oldPassword"
          formControlName="oldPassword"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('oldPassword')"
          aria-label="Toggle password visibility"
        >
          <i
            [ngClass]="showOldPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
          ></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          changePasswordForm.get('oldPassword')?.touched &&
          changePasswordForm.get('oldPassword')?.invalid
        "
      >
        <small
          *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']"
        >
          {{ "PASSWORD_ERRORS.REQUIRED" | translate }}
        </small>
        <small
          *ngIf="changePasswordForm.get('oldPassword')?.errors?.['minlength']"
        >
          {{ "PASSWORD_ERRORS.MIN_LENGTH" | translate }}
        </small>
        <small
          *ngIf="changePasswordForm.get('oldPassword')?.errors?.['pattern']"
        >
          {{ "PASSWORD_ERRORS.PATTERN" | translate }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">{{
        "ACCOUNT_SETTINGS.PASSWORD.NEW_PASSWORD" | translate
      }}</label>
      <div class="password-container">
        <input
          [type]="showNewPassword ? 'text' : 'password'"
          id="newPassword"
          formControlName="newPassword"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('newPassword')"
          aria-label="Toggle password visibility"
        >
          <i
            [ngClass]="showNewPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
          ></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          changePasswordForm.get('newPassword')?.touched &&
          changePasswordForm.get('newPassword')?.invalid
        "
      >
        <small
          *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']"
        >
          {{ "PASSWORD_ERRORS.REQUIRED" | translate }}
        </small>
        <small
          *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']"
        >
          {{ "PASSWORD_ERRORS.MIN_LENGTH" | translate }}
        </small>
        <small
          *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']"
        >
          {{ "PASSWORD_ERRORS.PATTERN" | translate }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">{{
        "ACCOUNT_SETTINGS.PASSWORD.CONFIRM_NEW_PASSWORD" | translate
      }}</label>
      <div class="password-container">
        <input
          [type]="showConfirmNewPassword ? 'text' : 'password'"
          id="confirmNewPassword"
          formControlName="confirmNewPassword"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('confirmNewPassword')"
          aria-label="Toggle password visibility"
        >
          <i
            [ngClass]="
              showConfirmNewPassword ? 'fas fa-eye-slash' : 'fas fa-eye'
            "
          ></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          changePasswordForm.get('confirmNewPassword')?.touched &&
          changePasswordForm.get('confirmNewPassword')?.invalid
        "
      >
        <small
          *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.['required']"
        >
          {{ "PASSWORD_ERRORS.REQUIRED" | translate }}
        </small>
        <small
          *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.['passwordMismatch']"
        >
          {{ "PASSWORD_ERRORS.PASSWORD_MISMATCH" | translate }}
        </small>
      </div>
    </div>
    <div class="profile-buttons">
      <button
        type="button"
        (click)="cancelchangePasswordForm()"
        class="cancel-btn"
      >
        {{ "ACTIONS.CANCEL" | translate }}
      </button>
      <button
        type="submit"
        class="save-btn"
        [disabled]="changePasswordForm.invalid"
      >
        {{ "ACCOUNT_SETTINGS.PASSWORD.SUBMIT" | translate }}
      </button>
    </div>
  </form>
</div>
