<div class="auth-form-container">
  <form class="auth-form" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">
        {{ "DASHBOARD.SECTIONS.TABLE_HEADERS.FIRST_NAME" | translate }}
      </label>
      <input type="text" id="firstName" formControlName="firstName" />
      <div
        class="error-message"
        *ngIf="
          addUserForm.get('firstName')?.touched &&
          addUserForm.get('firstName')?.invalid
        "
      >
        <small *ngIf="addUserForm.get('firstName')?.errors?.['required']">
          {{
            "AUTH.ERROR_MESSAGES.NAME_REQUIRED"
              | translate
                : {
                    type:
                      ("DASHBOARD.SECTIONS.TABLE_HEADERS.FIRST_NAME"
                      | translate)
                  }
          }}
        </small>
        <small *ngIf="addUserForm.get('firstName')?.errors?.['minlength']">
          {{
            "AUTH.ERROR_MESSAGES.NAME_MIN_LENGTH"
              | translate
                : {
                    type:
                      ("DASHBOARD.SECTIONS.TABLE_HEADERS.FIRST_NAME"
                      | translate)
                  }
          }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="lastName">
        {{ "DASHBOARD.SECTIONS.TABLE_HEADERS.LAST_NAME" | translate }}
      </label>
      <input type="text" id="lastName" formControlName="lastName" />
      <div
        class="error-message"
        *ngIf="
          addUserForm.get('lastName')?.touched &&
          addUserForm.get('lastName')?.invalid
        "
      >
        <small *ngIf="addUserForm.get('lastName')?.errors?.['required']">
          {{
            "AUTH.ERROR_MESSAGES.NAME_REQUIRED"
              | translate
                : {
                    type:
                      ("DASHBOARD.SECTIONS.TABLE_HEADERS.LAST_NAME" | translate)
                  }
          }}
        </small>
        <small *ngIf="addUserForm.get('lastName')?.errors?.['minlength']">
          {{
            "AUTH.ERROR_MESSAGES.NAME_MIN_LENGTH"
              | translate
                : {
                    type:
                      ("DASHBOARD.SECTIONS.TABLE_HEADERS.LAST_NAME" | translate)
                  }
          }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="username">
        {{ "DASHBOARD.SECTIONS.TABLE_HEADERS.USERNAME" | translate }}
      </label>
      <input type="text" id="username" formControlName="username" />
      <div
        class="error-message"
        *ngIf="
          addUserForm.get('username')?.touched &&
          addUserForm.get('username')?.invalid
        "
      >
        <small *ngIf="addUserForm.get('username')?.errors?.['required']">
          {{
            "AUTH.ERROR_MESSAGES.NAME_REQUIRED"
              | translate
                : {
                    type:
                      ("DASHBOARD.SECTIONS.TABLE_HEADERS.USERNAME" | translate)
                  }
          }}
        </small>
        <small *ngIf="addUserForm.get('username')?.errors?.['minlength']">
          {{
            "AUTH.ERROR_MESSAGES.NAME_MIN_LENGTH"
              | translate
                : {
                    type:
                      ("DASHBOARD.SECTIONS.TABLE_HEADERS.USERNAME" | translate)
                  }
          }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="email">
        {{ "DASHBOARD.SECTIONS.TABLE_HEADERS.EMAIL" | translate }}
      </label>
      <input type="email" id="email" formControlName="email" />
      <div
        class="error-message"
        *ngIf="
          addUserForm.get('email')?.touched && addUserForm.get('email')?.invalid
        "
      >
        <small *ngIf="addUserForm.get('email')?.errors?.['required']">
          {{
            "AUTH.ERROR_MESSAGES.NAME_REQUIRED"
              | translate
                : {
                    type: ("DASHBOARD.SECTIONS.TABLE_HEADERS.EMAIL" | translate)
                  }
          }}
        </small>
        <small *ngIf="addUserForm.get('email')?.errors?.['email']">
          {{
            "AUTH.ERROR_MESSAGES.EMAIL_PATTERN"
              | translate
                : {
                    type: ("DASHBOARD.SECTIONS.TABLE_HEADERS.EMAIL" | translate)
                  }
          }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="role">
        {{ "DASHBOARD.SECTIONS.TABLE_HEADERS.ROLE" | translate }}
      </label>
      <div class="select-container">
        <select id="role" formControlName="role">
          <option value="" disabled selected>
            {{ "USER_PROFILE.ROLES.SELECT" | translate }}
          </option>
          <option value="Reader">
            {{ "USER_PROFILE.ROLES.READER" | translate }}
          </option>
          <option value="Writer">
            {{ "USER_PROFILE.ROLES.WRITER" | translate }}
          </option>
          <option *ngIf="isSuperAdmin" value="Admin">
            {{ "USER_PROFILE.ROLES.ADMIN" | translate }}
          </option>
          <option *ngIf="isSuperAdmin" value="Super Admin">
            {{ "USER_PROFILE.ROLES.SUPERADMIN" | translate }}
          </option>
        </select>
      </div>

      <div
        class="error-message"
        *ngIf="
          addUserForm.get('role')?.touched && addUserForm.get('role')?.invalid
        "
      >
        <small *ngIf="addUserForm.get('role')?.errors?.['required']">
          {{ "AUTH.ERROR_MESSAGES.REQUIRED" | translate }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="password">{{ "AUTH.PASSWORD" | translate }}</label>
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('password')"
          aria-label="Toggle password visibility"
        >
          <i [ngClass]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          addUserForm.get('password')?.touched &&
          addUserForm.get('password')?.invalid
        "
      >
        <small *ngIf="addUserForm.get('password')?.errors?.['required']">
          {{ "PASSWORD_ERRORS.REQUIRED" | translate }}
        </small>
        <small *ngIf="addUserForm.get('password')?.errors?.['minlength']">
          {{ "PASSWORD_ERRORS.MIN_LENGTH" | translate }}
        </small>
        <small *ngIf="addUserForm.get('password')?.errors?.['pattern']">
          {{ "PASSWORD_ERRORS.PATTERN" | translate }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">
        {{ "AUTH.CONFIRM_PASSWORD" | translate }}
      </label>
      <div class="password-container">
        <input
          [type]="showConfirmNewPassword ? 'text' : 'password'"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility('confirmPassword')"
          aria-label="Toggle password visibility"
        >
          <i
            [ngClass]="
              showConfirmNewPassword ? 'fas fa-eye-slash' : 'fas fa-eye'
            "
          ></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          addUserForm.get('confirmPassword')?.touched &&
          addUserForm.get('confirmPassword')?.invalid
        "
      >
        <small *ngIf="addUserForm.get('confirmPassword')?.errors?.['required']">
          {{ "PASSWORD_ERRORS.REQUIRED" | translate }}
        </small>
        <small
          *ngIf="addUserForm.get('confirmPassword')?.errors?.['passwordMismatch']"
        >
          {{ "PASSWORD_ERRORS.PASSWORD_MISMATCH" | translate }}
        </small>
      </div>
    </div>

    <button type="submit" class="btn-submit" [disabled]="addUserForm.invalid">
      {{ "AUTH.REGISTER" | translate }}
    </button>
  </form>
  <div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
</div>
