<div class="auth-form-container">
  <form
    class="auth-form"
    [formGroup]="ResetPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <h2>Reset Your Password</h2>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility()"
          aria-label="Toggle password visibility"
        >
          <i [ngClass]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          ResetPasswordForm.get('password')?.touched &&
          ResetPasswordForm.get('password')?.invalid
        "
      >
        <small *ngIf="ResetPasswordForm.get('password')?.errors?.['required']">
          Password is required.
        </small>
        <small *ngIf="ResetPasswordForm.get('password')?.errors?.['minlength']">
          Password must be at least 8 characters long.
        </small>
        <small *ngIf="ResetPasswordForm.get('password')?.errors?.['pattern']">
          Password must contain at least 1 uppercase letter, 1 lowercase letter,
          1 number, and 1 special character.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility()"
          aria-label="Toggle password visibility"
        >
          <i [ngClass]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          ResetPasswordForm.get('confirmPassword')?.touched &&
          ResetPasswordForm.get('confirmPassword')?.invalid
        "
      >
        <small
          *ngIf="ResetPasswordForm.get('confirmPassword')?.errors?.['required']"
        >
          Confirm Password is required.
        </small>
        <small
          *ngIf="ResetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']"
        >
          Passwords do not match.
        </small>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="btn-submit"
      [disabled]="ResetPasswordForm.invalid"
    >
      Reset Password
    </button>
  </form>
</div>
