<div class="auth-form-container">
  <form
    class="auth-form"
    [formGroup]="ResetPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <h2>{{ "RESET_PASSWORD.TITLE" | translate }}</h2>
    <div class="form-group">
      <label for="password"> {{ "AUTH.PASSWORD" | translate }} </label>
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="password"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility()"
          aria-label="Toggle password visibility"
        >
          <i [ngClass]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          ResetPasswordForm.get('password')?.touched &&
          ResetPasswordForm.get('password')?.invalid
        "
      >
        <small *ngIf="ResetPasswordForm.get('password')?.errors?.['required']">
          {{ "PASSWORD_ERRORS.REQUIRED" | translate }}
        </small>
        <small *ngIf="ResetPasswordForm.get('password')?.errors?.['minlength']">
          {{ "PASSWORD_ERRORS.MIN_LENGTH" | translate }}
        </small>
        <small *ngIf="ResetPasswordForm.get('password')?.errors?.['pattern']">
          {{ "PASSWORD_ERRORS.PATTERN" | translate }}
        </small>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">
        {{ "AUTH.CONFIRM_PASSWORD" | translate }}
      </label>
      <div class="password-container">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="toggleConfirmPasswordVisibility()"
          aria-label="Toggle password visibility"
        >
          <i
            [ngClass]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
          ></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          ResetPasswordForm.get('confirmPassword')?.touched &&
          ResetPasswordForm.get('confirmPassword')?.invalid
        "
      >
        <small
          *ngIf="ResetPasswordForm.get('confirmPassword')?.errors?.['required']"
        >
          {{ "PASSWORD_ERRORS.REQUIRED" | translate }}
        </small>
        <small
          *ngIf="ResetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']"
        >
          {{ "PASSWORD_ERRORS.PASSWORD_MISMATCH" | translate }}
        </small>
      </div>
    </div>

    <!-- Submit Button -->
    <button
      type="submit"
      class="btn-submit"
      [disabled]="ResetPasswordForm.invalid"
    >
      {{ "RESET_PASSWORD.SUBMIT" | translate }}
    </button>
  </form>
</div>
<div *ngIf="loading" class="spinner-overlay">
  <div class="spinner"></div>
</div>
