<div *ngIf="isProfileLoading" class="spinner-overlay">
  <div class="spinner"></div>
  <p>Loading profile...</p>
</div>
<div class="main-container">
  <div *ngIf="!isProfileLoading && userProfile" class="user-profile">
    <h2>{{ userProfile.firstName }} {{ userProfile.lastName }}</h2>
    <h2>
      <small
        ><h6>&#64;{{ userProfile.userName }}</h6></small
      >
    </h2>
    <p><strong>Email:</strong> {{ userProfile.email }}</p>
    <p><strong>Role:</strong> {{ userProfile.role }}</p>

    <div
      *ngIf="posts.length > 0 || isPostsLoading; else noPosts"
      class="posts-grid"
    >
      <h2>User's Posts</h2>
      <div class="post-card" *ngFor="let post of posts">
        <h2 class="post-title">
          <a [routerLink]="['/post']" [queryParams]="{ postId: post.id }">
            {{ post.title }}
          </a>
        </h2>
        <p class="post-content">{{ post.content }}</p>
        <p class="post-date">
          Created: {{ post.createdDate | date : "medium" }}
          <span *ngIf="post.modifiedDate">
            | Modified: {{ post.modifiedDate | date : "medium" }}
          </span>
        </p>
        <p class="post-date">
          <small>Comments: {{ post.comments.length }}</small>
        </p>
        <div class="comments-section">
          <h3>Comments</h3>
          <div *ngIf="post.comments.length > 0; else noComments">
            <div
              *ngFor="let comment of post.comments | slice : 0 : 2"
              class="comment"
            >
              <p class="comment-user">
                <a
                  [routerLink]="['/user-profile']"
                  [queryParams]="{ username: comment.userName }"
                  >{{ comment.userName }}</a
                >
              </p>
              <p class="comment-content">{{ comment.content }}</p>
              <p class="comment-date">
                {{ comment.createdDate | date : "short" }}
              </p>
            </div>
          </div>
          <ng-template #noComments>
            <p class="no-comments">No comments yet.</p>
          </ng-template>
        </div>
      </div>
      <div class="pagination">
        <button
          *ngIf="currentPage < totalPages && !isPostsLoading"
          (click)="loadMorePosts()"
          class="btn-load-more"
        >
          Load More Posts
        </button>
      </div>
      <div *ngIf="isPostsLoading" class="spinner-overlay">
        <div class="spinner"></div>
        <p>Loading posts...</p>
      </div>
    </div>

    <ng-template #noPosts>
      <p class="no-posts">This user has not authored any posts yet.</p>
    </ng-template>
  </div>

  <div *ngIf="!isProfileLoading && !userProfile" class="no-profile">
    <p>No profile data found.</p>
  </div>
</div>
