<div class="auth-form-container">
  <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>{{ "AUTH.LOGIN" | translate }}</h2>

    <div class="form-group">
      <label for="username">{{ "AUTH.USERNAME" | translate }}</label>
      <input type="text" id="username" formControlName="EmailOrUserName" />
    </div>

    <div class="form-group">
      <div class="password-text">
        <label for="password">{{ "AUTH.PASSWORD" | translate }}</label>
        <div class="forgot-password">
          <a routerLink="/reset-password-request">
            {{ "AUTH.FORGOT_PASSWORD" | translate }}
          </a>
        </div>
      </div>
      <div class="password-container">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          formControlName="Password"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="togglePasswordVisibility()"
          aria-label="Toggle password visibility"
        >
          <i [ngClass]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
      <div
        class="error-message"
        *ngIf="
          loginForm.get('Password')?.touched &&
          loginForm.get('Password')?.invalid
        "
      >
        <small *ngIf="loginForm.get('Password')?.errors?.['required']">
          {{ "PASSWORD_ERRORS.REQUIRED" | translate }}
        </small>
        <small *ngIf="loginForm.get('Password')?.errors?.['minlength']">
          {{ "PASSWORD_ERRORS.MIN_LENGTH" | translate }}
        </small>
        <small *ngIf="loginForm.get('Password')?.errors?.['pattern']">
          {{ "PASSWORD_ERRORS.PATTERN" | translate }}
        </small>
      </div>
    </div>

    <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">
      {{ "AUTH.LOGIN" | translate }}
    </button>

    <p>
      {{ "AUTH.DONT_HAVE_ACCOUNT" | translate }}
      <a routerLink="/register">{{ "AUTH.REGISTER" | translate }}</a>
    </p>
    <p>
      <small>
        {{ "AUTH.NOT_CONFIRMED" | translate }}
        <a routerLink="/confirm-email">{{ "AUTH.CONFIRM" | translate }}</a>
      </small>
    </p>
  </form>
  <div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
</div>
