label {
  display: inline-block;
}
.password-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 0;
  .forgot-password {
    margin: 10px 0;
    display: inline-block;
    a {
      color: #0066cc;
      font-size: 0.9rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
