<div *ngIf="loading" class="spinner-overlay">
  <div class="spinner"></div>
  <p>Loading profile...</p>
</div>
<section class="dashboard-pages-container">
  <h2 class="section-title">Manage Users</h2>

  <table *ngIf="users.length > 0" class="dashboard-pages-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <div *ngIf="!profileUpdateState[user.userName]">
            {{ user.firstName }}
          </div>
          <div *ngIf="profileUpdateState[user.userName]">
            <input
              type="text"
              [(ngModel)]="userForms[user.userName].firstName"
              class="form-control"
              placeholder="First Name"
            />
          </div>
        </td>
        <td>
          <div *ngIf="!profileUpdateState[user.userName]">
            {{ user.lastName }}
          </div>
          <div *ngIf="profileUpdateState[user.userName]">
            <input
              type="text"
              [(ngModel)]="userForms[user.userName].lastName"
              class="form-control"
              placeholder="Last Name"
            />
          </div>
        </td>
        <td>
          <a
            [routerLink]="['/user-profile', user.userName]"
          >
            &#64;{{ user.userName }}
          </a>
        </td>
        <td>{{ user.email }}</td>
        <td>
          <div *ngIf="!roleChangeState[user.userName]">
            {{ user.role }}
          </div>
          <div *ngIf="roleChangeState[user.userName]">
            <select
              [(ngModel)]="userForms[user.userName].role"
              class="form-select"
            >
              <option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </option>
            </select>
          </div>
        </td>
        <td>
          <div
            class="btns"
            *ngIf="
              !roleChangeState[user.userName] &&
              !profileUpdateState[user.userName]
            "
          >
            <button class="btn btn-primary" (click)="toggleEditMode(user)">
              Update Profile
            </button>

            <button class="btn btn-primary" (click)="onChangeRole(user)">
              Change Role
            </button>

            <button
              class="btn btn-danger"
              (click)="onDeleteAccount(user.userName)"
            >
              Delete
            </button>
          </div>
          <div class="btns" *ngIf="roleChangeState[user.userName]">
            <button class="btn btn-success" (click)="saveRole(user)">
              Save
            </button>
            <button class="btn btn-danger" (click)="cancelRoleChange(user)">
              Cancel
            </button>
          </div>
          <div class="btns" *ngIf="profileUpdateState[user.userName]">
            <button class="btn btn-success" (click)="saveProfileUpdate(user)">
              Save
            </button>
            <button class="btn btn-danger" (click)="cancelProfileUpdate(user)">
              Cancel
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="centered-link" *ngIf="currentPage < totalPages && !loading">
    <a (click)="loadMoreUsers()">Load More Users &gt;</a>
  </div>

  <div *ngIf="!loading && users.length === 0" class="no-results">
    <p>No users found.</p>
  </div>
</section>
