<div class="dashboard-pages-container">
  <div *ngIf="loading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>

  <table class="dashboard-pages-table" *ngIf="comments.length > 0">
    <thead>
      <tr>
        <th>{{ "DASHBOARD.SECTIONS.TABLE_HEADERS.CONTENT" | translate }}</th>
        <th>{{ "DASHBOARD.SECTIONS.TABLE_HEADERS.WRITER" | translate }}</th>
        <th>{{ "DASHBOARD.SECTIONS.TABLE_HEADERS.DATE" | translate }}</th>
        <th>{{ "DASHBOARD.SECTIONS.TABLE_HEADERS.ACTIONS" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments; let i = index">
        <td>
          <a [routerLink]="['/post', comment.postId]">
            <div>
              <span *ngIf="comment.content.length > 10"
                >{{ comment.content | slice : 0 : 10 }}...</span
              >
              <span *ngIf="comment.content.length <= 10">{{
                comment.content
              }}</span>
            </div>
          </a>
        </td>
        <td>
          <a [routerLink]="['/user-profile', comment.userName]">
            <div>
              <span dir="ltr">&#64;{{ comment.userName }}</span>
            </div>
          </a>
        </td>
        <td>{{ comment.createdDate | date : "short" }}</td>
        <td>
          <button
            class="delete-button"
            (click)="onDeleteComment(comment.id)"
            title="Delete Comment"
          >
            {{ "DASHBOARD.BUTTONS.DELETE" | translate }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- No Comments Message -->
  <div *ngIf="comments.length === 0 && !loading" class="no-results">
    <p>
      {{
        "DASHBOARD.SECTIONS.NO_RESULTS"
          | translate : { type: ("DASHBOARD.SECTIONS.COMMENTS" | translate) }
      }}
    </p>
  </div>

  <!-- Load More Button -->
  <div class="centered-link" *ngIf="currentPage < totalPages && !loading">
    <a (click)="loadMoreComments()">
      {{
        "DASHBOARD.SECTIONS.LOAD_MORE"
          | translate : { type: ("DASHBOARD.SECTIONS.COMMENTS" | translate) }
      }}
      &gt;</a
    >
  </div>
</div>
