$primary-color: #007bff;
$secondary-color: #f8f9fa;
$danger-color: #dc3545;
$light-gray: #f1f1f1;
$dark-gray: #6c757d;
$border-radius: 10px;
$font-family: "Arial", sans-serif;

.profile-container {
  padding: 30px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: $border-radius;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  font-family: $font-family;
  transition: 0.3s ease;

  h1 {
    text-align: center;
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 15px;
  }

  h6 {
    font-size: 1rem;
    color: $dark-gray;
    margin-bottom: 15px;
  }

  p {
    margin: 10px 0;
    font-size: 16px;
    color: $dark-gray;
    line-height: 1.5;

    strong {
      font-weight: 600;
      color: #000000;
    }
  }

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
}

.profile-buttons {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  .edit-btn {
    padding: 12px 20px;
    width: 48%;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    background-color: $primary-color;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:hover {
      transform: translateY(-3px);
      background-color: $primary-color;
    }
    i {
      font-size: 2rem;
    }
  }
}

// Responsive Styling for Mobile
@media (max-width: 768px) {
  .profile-container {
    padding: 20px;
    margin: 10px auto;

    h1 {
      font-size: 1.8rem;
    }

    h6 {
      font-size: 0.9rem;
    }

    p {
      font-size: 14px;
    }
  }

  .profile-buttons {
    align-items: center;
    gap: 10px;

    .edit-btn {
      width: 200px;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 400px) {
  .profile-container{
    .post-title{
      font-size: 1.2rem;
    }
    .post-date{
      font-size: 0.8rem;
    }
  }
  .profile-buttons {
    align-items: center;
    gap: 10px;

    .edit-btn {
      width: 200px;
      margin-bottom: 15px;
      font-size: 15px;
      i{
        font-size: 1.5rem;
      }
    }
  }
}
