<div *ngIf="isProfileLoading" class="spinner-overlay">
  <div class="spinner"></div>
  <p>{{ "USER_PROFILE.LOADING" | translate }}</p>
</div>

<div
  class="profile-container main-container"
  *ngIf="!isProfileLoading && userProfile"
>
  <h1>{{ userProfile.firstName }} {{ userProfile.lastName }}</h1>
  <h1>
    <small>
      <h6 dir="ltr">&#64;{{ userProfile.userName }}</h6>
    </small>
  </h1>
  <p>
    <strong>{{ "USER_PROFILE.EMAIL" | translate }}:</strong>
    {{ userProfile.email }}
  </p>
  <p>
    <strong>{{ "USER_PROFILE.ROLE" | translate }}:</strong>
    {{ "USER_PROFILE.ROLES." + userProfile.role.toUpperCase() | translate }}
  </p>
  <div class="profile-buttons">
    <button (click)="profileSettings()" class="edit-btn">
      <i class="fas fa-cogs"></i>
      {{ "USER_PROFILE.SETTINGS" | translate }}
    </button>
  </div>
  <div
    *ngIf="posts.length > 0 || isPostsLoading; else noPosts"
    class="posts-grid"
  >
    <h2>{{ "USER_PROFILE.POSTS_HEADER" | translate }}</h2>
    <div class="post-card" *ngFor="let post of posts">
      <p class="post-content">
        <a [routerLink]="['/post', post.id]">
          <div>
            <span *ngIf="post.content.length > 200"
              >{{ post.content | slice : 0 : 200 }}...</span
            >
            <span *ngIf="post.content.length <= 200">{{ post.content }}</span>
          </div>
        </a>
      </p>
      <div class="media">
        <img
          *ngIf="post.imageUrl"
          [src]="post.imageUrl"
          alt="Post Image"
          class="post-image"
        />
        <video
          *ngIf="post.videoUrl"
          [src]="post.videoUrl"
          controls
          class="post-video"
        >
          {{ "POST.VIDEO_NOT_SUPPORTED" | translate }}
        </video>
      </div>
      <p class="post-date">
        {{ "POST.CREATED" | translate }}:
        {{ post.createdDate | date : "medium" }}
        <br />
        <span *ngIf="post.modifiedDate">
          | {{ "POST.MODIFIED" | translate }}:
          {{ post.modifiedDate | date : "medium" }}
        </span>
      </p>
      <p class="post-date">
        <small>
          {{ "POST.COMMENTS" | translate }}: {{ post.comments.length }}
        </small>
      </p>
      <div class="comments-section" *ngIf="post.comments.length > 0">
        <h3>{{ "POST.COMMENTS" | translate }}</h3>
        <div
          *ngFor="let comment of post.comments | slice : 0 : 2"
          class="comment"
        >
          <p class="comment-user">
            <a [routerLink]="['/user-profile', comment.userName]">{{
              comment.userName
            }}</a>
          </p>
          <p class="comment-content">{{ comment.content }}</p>
          <p class="comment-date">
            {{ comment.createdDate | date : "medium" }}
          </p>
        </div>
      </div>
    </div>
    <div class="pagination">
      <button
        *ngIf="currentPage < totalPages && !isPostsLoading"
        (click)="loadMorePosts()"
        class="btn-load-more"
      >
        {{ "POST.LOAD_MORE_POSTS" | translate }}
      </button>
    </div>
    <div *ngIf="isPostsLoading" class="spinner-overlay">
      <div class="spinner"></div>
      <p>{{ "POST.LOADING_POSTS" | translate }}</p>
    </div>
  </div>

  <ng-template #noPosts>
    <p class="no-posts">{{ "USER_PROFILE.NO_POSTS" | translate }}</p>
  </ng-template>
</div>

<div *ngIf="!isProfileLoading && !userProfile" class="error main-container">
  {{ "USER_PROFILE.NO_DATA" | translate }}
</div>
