$primary-color: #007bff;
$secondary-color: #f8f9fa;
$danger-color: #dc3545;
$light-gray: #f1f1f1;
$dark-gray: #6c757d;
$border-radius: 10px;
$font-family: "Arial", sans-serif;
$hover-color: #0056b3;

.main-container {
  animation: fadeIn 1s ease-in-out;
  h2 {
    text-align: center;
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 15px;
  }

  h6 {
    font-size: 1rem;
    color: $dark-gray;
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    font-size: 1.1rem;
    color: $dark-gray;
    margin: 10px 0;

    strong {
      font-weight: 600;
      color: #000000;
    }
  }
}

.no-profile {
  background-color: white;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  animation: fadeIn 1s ease-in-out;

  p {
    font-size: 1.1rem;
    color: $secondary-color;
  }
}

.main-container,
.no-profile {
  padding: 15px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .main-container {
    h2 {
      font-size: 1.5rem;
    }

    h6 {
      font-size: 0.9rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .no-profile p {
    font-size: 1rem;
  }
}
