<div class="main-container">
  <div class="posts-grid">
    <div class="post-card" *ngIf="!isLoading; else loadingPost">
      <div *ngIf="isEditingPost; else postDetails">
        <form
          class="update-post-form"
          [formGroup]="updatePostForm"
          (ngSubmit)="onUpdatePost()"
        >
          <div>
            <textarea
              id="content"
              rows="5"
              formControlName="content"
              placeholder="Share your thoughts..."
            ></textarea>
            <div
              *ngIf="
                updatePostForm.get('content')?.invalid &&
                updatePostForm.get('content')?.touched
              "
              class="error-message"
            >
              <small
                *ngIf="updatePostForm.get('content')?.errors?.['maxlength']"
              >
                Content cannot exceed 5000 characters.
              </small>
              <small
                *ngIf="updatePostForm.get('content')?.errors?.['minlength']"
              >
                Content cannot be null or white space.
              </small>
              <small *ngIf="updatePostForm.get('content')?.errors?.['pattern']">
                Content cannot be just white space.
              </small>
              <small
                *ngIf="updatePostForm.get('content')?.errors?.['required']"
              >
                Content is required.
              </small>
            </div>
          </div>

          <div class="upload-container">
            <label class="upload-btn">
              <i class="fa fa-image"></i>
              <input
                type="file"
                (change)="onFileSelected($event, 'image')"
                accept="image/*"
              />
            </label>

            <label class="upload-btn">
              <i class="fa fa-video"></i>
              <input
                type="file"
                (change)="onFileSelected($event, 'video')"
                accept="video/*"
              />
            </label>
          </div>

          <div class="delete-media">
            <input
              type="checkbox"
              id="deleteImage"
              formControlName="deleteImage"
            />
            <label for="deleteImage">Delete existing image</label>
          </div>

          <div class="delete-media">
            <input
              type="checkbox"
              id="deleteVideo"
              formControlName="deleteVideo"
            />
            <label for="deleteVideo">Delete existing video</label>
          </div>

          <div class="form-btns">
            <button type="submit" [disabled]="updatePostForm.invalid">✓</button>
            <button class="cancel-btn" (click)="isEditingPost = false">
              ×
            </button>
          </div>
        </form>
      </div>

      <ng-template #postDetails>
        <p class="post-author">
          <a [routerLink]="['/user-profile', post.authorName]"
            >&#64;{{ post.authorName }}</a
          >
        </p>
        <p class="post-content">{{ post.content }}</p>
        <div class="media">
          <img
            *ngIf="post.imageUrl"
            [src]="post.imageUrl"
            alt="Post Image"
            class="post-image"
          />
          <video
            *ngIf="post.videoUrl"
            [src]="post.videoUrl"
            controls
            class="post-video"
          >
            Your browser does not support the video tag.
          </video>
        </div>

        <p class="post-date">
          Created: {{ post.createdDate | date : "medium" }}
          <br />
          <span *ngIf="post.modifiedDate">
            Modified: {{ post.modifiedDate | date : "medium" }}
          </span>
        </p>
        <div
          class="post-options"
          *ngIf="userName === post.authorName || userRole === 'admin'"
        >
          <button
            class="ellipsis-btn"
            (click)="showPostOptions = !showPostOptions"
          >
            ⋯
          </button>
          <div class="dropdown-menu" *ngIf="showPostOptions">
            <button
              (click)="initUpdatePostForm(post); showPostOptions = false"
              *ngIf="userName === post.authorName"
            >
              Edit Post
            </button>
            <button
              class="cancel-btn"
              (click)="onDeletePost(post.id); showPostOptions = false"
            >
              Delete Post
            </button>
          </div>
        </div>
      </ng-template>
      <div class="comments-section">
        <h3>Comments</h3>
        <div class="comment-form">
          <form [formGroup]="commentForm" (ngSubmit)="onAddComment()">
            <textarea
              formControlName="content"
              rows="3"
              placeholder="Share your thoughts..."
            ></textarea>
            <div
              *ngIf="
                commentForm.get('content')?.touched &&
                commentForm.get('content')?.invalid
              "
              class="error-message"
            >
              <small
                *ngIf="
                commentForm.get('content')?.errors?.['maxlength']"
              >
                Comment cannot exceed 1000 characters.
              </small>
              <small
                *ngIf="
                commentForm.get('content')?.errors?.['pattern']"
              >
                Comment cannot be just whitespace.
              </small>
            </div>
            <button
              type="submit"
              [disabled]="commentForm.invalid || isSubmitting"
            >
              Comment
            </button>
          </form>
        </div>
        <div *ngIf="comments.length > 0; else noComments">
          <div *ngFor="let comment of comments" class="comment">
            <p class="comment-user">
              <a [routerLink]="['/user-profile', comment.userName]">{{
                comment.userName
              }}</a>
            </p>

            <div
              *ngIf="editingCommentId === comment.commentId; else commentText"
              class="comment-form"
            >
              <form
                [formGroup]="updateCommentForm"
                (ngSubmit)="onUpdateComment(comment)"
              >
                <textarea formControlName="content" rows="3"></textarea>
                <div
                  *ngIf="updateCommentForm.get('content')?.invalid"
                  class="error-message"
                >
                  <small
                    *ngIf="updateCommentForm.get('content')?.errors?.['maxlength']"
                  >
                    Comment cannot exceed 1000 characters.
                  </small>
                  <small
                    *ngIf="updateCommentForm.get('content')?.errors?.['pattern']"
                  >
                    Comment cannot be just whitespace.
                  </small>
                </div>
                <div class="form-btns">
                  <button
                    type="submit"
                    [disabled]="updateCommentForm.invalid || isSubmitting"
                  >
                    ✓
                  </button>
                  <button
                    type="button"
                    (click)="editingCommentId = null"
                    class="cancel-btn"
                  >
                    ×
                  </button>
                </div>
              </form>
            </div>

            <ng-template #commentText>
              <p class="comment-content">{{ comment.content }}</p>
              <p class="comment-date">
                {{ comment.createdDate | date : "short" }}
              </p>
              <div
                class="comment-options"
                *ngIf="
                  comment.userName === userName ||
                  post.authorName === userName ||
                  userRole === 'admin'
                "
              >
                <button
                  class="ellipsis-btn"
                  (click)="toggleCommentMenu(comment.commentId)"
                >
                  ⋯
                </button>
                <div
                  class="dropdown-menu"
                  *ngIf="activeCommentMenu === comment.commentId"
                >
                  <button
                    (click)="
                      initUpdateCommentForm(comment); activeCommentMenu = null
                    "
                    *ngIf="comment.userName === userName"
                  >
                    Edit
                  </button>
                  <button
                    class="cancel-btn"
                    (click)="
                      onDeleteComment(comment.commentId);
                      activeCommentMenu = null
                    "
                  >
                    Delete
                  </button>
                </div>
              </div>
              <!-- <div class="form-btns">
                <button
                  (click)="initUpdateCommentForm(comment)"
                  *ngIf="comment.userName === userName"
                >
                  Edit
                </button>
                <button
                  class="cancel-btn"
                  (click)="onDeleteComment(comment.commentId)"
                  *ngIf="
                    comment.userName === userName ||
                    post.authorName === userName ||
                    this.userRole === 'admin'
                  "
                >
                  Delete
                </button>
              </div> -->
            </ng-template>
          </div>
          <div class="pagination">
            <button
              *ngIf="currentPage < totalPages && !isCommentsLoading"
              (click)="loadMoreComments()"
              class="btn-load-more"
            >
              Load More Comments
            </button>
          </div>
        </div>
        <ng-template #noComments>
          <p class="no-comments">No comments yet.</p>
        </ng-template>
      </div>
    </div>
    <ng-template #loadingPost>
      <div class="spinner-overlay">
        <div class="spinner"></div>
        <p>Loading post...</p>
      </div>
    </ng-template>
  </div>
</div>
