<div class="main-container">
  <div class="posts-grid">
    <div class="post-card" *ngIf="!isLoading; else loadingPost">
      <h2 class="post-title">
        {{ post.title }}
      </h2>
      <p class="post-author">
        <a
          [routerLink]="['/user-profile']"
          [queryParams]="{ username: post.authorName }"
          >&#64;{{ post.authorName }}</a
        >
      </p>
      <p class="post-content">{{ post.content }}</p>
      <p class="post-date">
        Created: {{ post.createdDate | date : "medium" }}
        <br />
        <span *ngIf="post.modifiedDate">
          Modified: {{ post.modifiedDate | date : "medium" }}
        </span>
      </p>
      <button
        (click)="onDeletePost(post.id)"
        *ngIf="userName === post.authorName"
        class="cancel-btn"
      >
        Delete the Post
      </button> 
      <div class="comments-section">
        <h3>Comments</h3>
        <div class="comment-form">
          <form [formGroup]="commentForm" (ngSubmit)="onAddComment()">
            <textarea
              formControlName="content"
              rows="3"
              placeholder="Add your comment here..."
            ></textarea>
            <div
              *ngIf="
                commentForm.get('content')?.touched &&
                commentForm.get('content')?.invalid
              "
              class="error-message"
            >
              <small
                *ngIf="
                commentForm.get('content')?.errors?.['maxlength']"
              >
                Comment cannot exceed 1000 characters.
              </small>
            </div>
            <button
              type="submit"
              [disabled]="commentForm.invalid || isSubmitting"
            >
              Submit Comment
            </button>
          </form>
        </div>
        <div *ngIf="comments.length > 0; else noComments">
          <div *ngFor="let comment of comments" class="comment">
            <p class="comment-user">
              <a
                [routerLink]="['/user-profile']"
                [queryParams]="{ username: comment.userName }"
                >{{ comment.userName }}</a
              >
            </p>

            <div
              *ngIf="editingCommentId === comment.commentId; else commentText"
              class="comment-form"
            >
              <form
                [formGroup]="updateCommentForm"
                (ngSubmit)="onUpdateComment(comment)"
              >
                <textarea formControlName="content" rows="3"></textarea>
                <div
                  *ngIf="updateCommentForm.get('content')?.invalid"
                  class="error-message"
                >
                  <small
                    *ngIf="updateCommentForm.get('content')?.errors?.['maxlength']"
                  >
                    Comment cannot exceed 1000 characters.
                  </small>
                </div>
                <div class="comment-btns">
                  <button
                    type="submit"
                    [disabled]="updateCommentForm.invalid || isSubmitting"
                  >
                    ✓
                  </button>
                  <button
                    type="button"
                    (click)="editingCommentId = null"
                    class="cancel-btn"
                  >
                    ×
                  </button>
                </div>
              </form>
            </div>

            <ng-template #commentText>
              <p class="comment-content">{{ comment.content }}</p>
              <p class="comment-date">
                {{ comment.createdDate | date : "short" }}
              </p>
              <div class="comment-btns">
                <button
                  (click)="initUpdateCommentForm(comment)"
                  *ngIf="comment.userName === userName"
                >
                  Edit
                </button>
                <button
                  class="cancel-btn"
                  (click)="onDeleteComment(comment.commentId)"
                  *ngIf="
                    comment.userName === userName ||
                    post.authorName === userName
                  "
                >
                  Delete
                </button>
              </div>
            </ng-template>
          </div>
        </div>
        <ng-template #noComments>
          <p class="no-comments">No comments yet.</p>
        </ng-template>
      </div>
    </div>
    <ng-template #loadingPost>
      <div class="spinner-overlay">
        <div class="spinner"></div>
        <p>Loading post...</p>
      </div>
    </ng-template>
  </div>
</div>
