<div class="main-container">
  <div class="posts-grid">
    <div class="post-card" *ngIf="!isLoading; else loadingPost">
      <div *ngIf="isEditingPost; else postDetails">
        <form
          class="update-post-form"
          [formGroup]="updatePostForm"
          (ngSubmit)="onUpdatePost()"
        >
          <div>
            <textarea
              id="content"
              rows="5"
              formControlName="content"
              [placeholder]="'POST.PLACEHOLDER' | translate"
            ></textarea>
            <div
              *ngIf="
                updatePostForm.get('content')?.invalid &&
                updatePostForm.get('content')?.touched
              "
              class="error-message"
            >
              <small
                *ngIf="updatePostForm.get('content')?.errors?.['maxlength']"
              >
                {{ "POST.CONTENT_ERRORS.MAXLENGTH" | translate }}
              </small>
              <small
                *ngIf="updatePostForm.get('content')?.errors?.['minlength']"
              >
                {{ "POST.CONTENT_ERRORS.MINLENGTH" | translate }}
              </small>
              <small *ngIf="updatePostForm.get('content')?.errors?.['pattern']">
                {{ "POST.CONTENT_ERRORS.PATTERN" | translate }}
              </small>
              <small
                *ngIf="updatePostForm.get('content')?.errors?.['required']"
              >
                {{ "POST.CONTENT_ERRORS.REQUIRED" | translate }}
              </small>
            </div>
          </div>

          <div class="upload-container">
            <label class="upload-btn">
              <i class="fa fa-image"></i>
              <input
                type="file"
                (change)="onFileSelected($event, 'image')"
                accept="image/*"
              />
            </label>

            <label class="upload-btn">
              <i class="fa fa-video"></i>
              <input
                type="file"
                (change)="onFileSelected($event, 'video')"
                accept="video/*"
              />
            </label>
          </div>

          <div class="delete-media">
            <input
              type="checkbox"
              id="deleteImage"
              formControlName="deleteImage"
            />
            <label for="deleteImage">
              {{ "POST.DELETE_IMAGE" | translate }}
            </label>
          </div>

          <div class="delete-media">
            <input
              type="checkbox"
              id="deleteVideo"
              formControlName="deleteVideo"
            />
            <label for="deleteVideo">{{
              "POST.DELETE_VIDEO" | translate
            }}</label>
          </div>

          <div class="form-btns">
            <button type="submit" [disabled]="updatePostForm.invalid">✓</button>
            <button class="cancel-btn" (click)="isEditingPost = false">
              ×
            </button>
          </div>
        </form>
      </div>

      <ng-template #postDetails>
        <div class="post-author">
          <a [routerLink]="['/user-profile', post.authorName]">{{
            post.authorName
          }}</a>
          <div
            class="post-options"
            *ngIf="userName === post.authorName || userRole === 'admin'"
          >
            <button
              class="ellipsis-btn"
              (click)="showPostOptions = !showPostOptions"
            >
              ⋯
            </button>
            <div class="dropdown-menu" *ngIf="showPostOptions">
              <button
                (click)="initUpdatePostForm(post); showPostOptions = false"
                *ngIf="userName === post.authorName"
              >
                {{ "ACTIONS.EDIT" | translate }}
              </button>
              <button
                class="cancel-btn"
                (click)="onDeletePost(post.id); showPostOptions = false"
              >
                {{ "ACTIONS.DELETE" | translate }}
              </button>
            </div>
          </div>
        </div>
        <p class="post-content">{{ post.content }}</p>
        <div class="media">
          <img
            *ngIf="post.imageUrl"
            [src]="post.imageUrl"
            alt="Post Image"
            class="post-image"
          />
          <video
            *ngIf="post.videoUrl"
            [src]="post.videoUrl"
            controls
            class="post-video"
          >
            {{ "POST.VIDEO_NOT_SUPPORTED" | translate }}
          </video>
        </div>

        <p class="post-date">
          {{ "POST.CREATED" | translate }}:
          {{ post.createdDate | date : "medium" }}
          <br />
          <span *ngIf="post.modifiedDate">
            {{ "POST.MODIFIED" | translate }}:
            {{ post.modifiedDate | date : "medium" }}
          </span>
        </p>
      </ng-template>
      <div class="comments-section">
        <h3>{{ "POST.COMMENTS" | translate }}</h3>
        <div class="comment-form">
          <form [formGroup]="commentForm" (ngSubmit)="onAddComment()">
            <textarea
              formControlName="content"
              rows="3"
              [placeholder]="'POST.PLACEHOLDER' | translate"
            ></textarea>
            <div
              *ngIf="
                commentForm.get('content')?.touched &&
                commentForm.get('content')?.invalid
              "
              class="error-message"
            >
              <small
                *ngIf="
                commentForm.get('content')?.errors?.['maxlength']"
              >
                {{ "POST.COMMENT.ERRORS.MAXLENGTH" | translate }}
              </small>
              <small
                *ngIf="
                commentForm.get('content')?.errors?.['pattern']"
              >
                {{ "POST.COMMENT.ERRORS.PATTERN" | translate }}
              </small>
            </div>
            <button
              type="submit"
              [disabled]="commentForm.invalid || isSubmitting"
            >
              {{ "POST.COMMENT.SUBMIT" | translate }}
            </button>
          </form>
        </div>
        <div *ngIf="comments.length > 0; else noComments">
          <div *ngFor="let comment of comments" class="comment">
            <div class="comment-user">
              <a [routerLink]="['/user-profile', comment.userName]">
                {{ comment.userName }}
              </a>
              <div
                class="comment-options"
                *ngIf="
                  comment.userName === userName ||
                  post.authorName === userName ||
                  userRole === 'admin'
                "
              >
                <button
                  class="ellipsis-btn"
                  (click)="toggleCommentMenu(comment.commentId)"
                >
                  ⋯
                </button>
                <div
                  class="dropdown-menu"
                  *ngIf="activeCommentMenu === comment.commentId"
                >
                  <button
                    (click)="
                      initUpdateCommentForm(comment); activeCommentMenu = null
                    "
                    *ngIf="comment.userName === userName"
                  >
                    {{ "ACTIONS.EDIT" | translate }}
                  </button>
                  <button
                    class="cancel-btn"
                    (click)="
                      onDeleteComment(comment.commentId);
                      activeCommentMenu = null
                    "
                  >
                    {{ "ACTIONS.DELETE" | translate }}
                  </button>
                </div>
              </div>
            </div>

            <div
              *ngIf="editingCommentId === comment.commentId; else commentText"
              class="comment-form"
            >
              <form
                [formGroup]="updateCommentForm"
                (ngSubmit)="onUpdateComment(comment)"
              >
                <textarea
                  formControlName="content"
                  rows="3"
                  [placeholder]="'POST.PLACEHOLDER' | translate"
                ></textarea>
                <div
                  *ngIf="updateCommentForm.get('content')?.invalid"
                  class="error-message"
                >
                  <small
                    *ngIf="updateCommentForm.get('content')?.errors?.['maxlength']"
                  >
                    {{ "POST.COMMENT.ERRORS.MAXLENGTH" | translate }}
                  </small>
                  <small
                    *ngIf="updateCommentForm.get('content')?.errors?.['pattern']"
                  >
                    {{ "POST.COMMENT.ERRORS.PATTERN" | translate }}
                  </small>
                </div>
                <div class="form-btns">
                  <button
                    type="submit"
                    [disabled]="updateCommentForm.invalid || isSubmitting"
                  >
                    ✓
                  </button>
                  <button
                    type="button"
                    (click)="editingCommentId = null"
                    class="cancel-btn"
                  >
                    ×
                  </button>
                </div>
              </form>
            </div>

            <ng-template #commentText>
              <p class="comment-content">{{ comment.content }}</p>
              <p class="comment-date">
                <span dir="ltr">
                  {{ comment.createdDate | date : "short" }}
                </span>
              </p>
            </ng-template>
          </div>
          <div class="pagination">
            <button
              *ngIf="currentPage < totalPages && !isCommentsLoading"
              (click)="loadMoreComments()"
              class="btn-load-more"
            >
              {{ "POST.LOAD_MORE" | translate }}
            </button>
          </div>
        </div>
        <ng-template #noComments>
          <p class="no-comments">{{ "POST.NO_COMMENTS" | translate }}</p>
        </ng-template>
      </div>
    </div>
    <ng-template #loadingPost>
      <div class="spinner-overlay">
        <div class="spinner"></div>
        <p>{{ "POST.LOADING" | translate }}</p>
      </div>
    </ng-template>
  </div>
</div>
