<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="toggle-btn" (click)="onToggleSidebar()">
    <i [class]="isCollapsed ? 'fas fa-bars' : 'fas fa-times '"></i>
  </div>
  <h2>
    <a routerLink="/dashboard">
      <i class="fas fa-tachometer-alt"></i>
      <span *ngIf="!isCollapsed">{{ "ADMIN" | translate }}</span>
    </a>
  </h2>
  <ul>
    <li>
      <a routerLink="/dashboard/manage-users" routerLinkActive="active">
        <i class="fas fa-users"></i>
        <span *ngIf="!isCollapsed">{{
          "DASHBOARD.SIDEBAR.USERS" | translate
        }}</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/manage-posts" routerLinkActive="active">
        <i class="fas fa-clipboard-list"></i>
        <span *ngIf="!isCollapsed">{{
          "DASHBOARD.SIDEBAR.POSTS" | translate
        }}</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/manage-comments" routerLinkActive="active">
        <i class="fas fa-comments"></i>
        <span *ngIf="!isCollapsed">{{
          "DASHBOARD.SIDEBAR.COMMENTS" | translate
        }}</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/register-user" routerLinkActive="active">
        <i class="fas fa-user-plus"></i>
        <span *ngIf="!isCollapsed">{{
          "DASHBOARD.SIDEBAR.ADD_USER" | translate
        }}</span>
      </a>
    </li>
  </ul>
</div>
